.card {
    transition: translate ease-in-out 100ms, box-shadow ease-in-out 100ms;
    width:100px;
    height: 100px;
}

.card:hover,
.card:focus {
    translate: 0 -5px;
    box-shadow: 0 5px 8px 0 rgba(0,0,0, .2);
}
.logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
  }
